{% extends "base_generic.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 justify-content-center text-center">Welcome to Spur!</div>
    <div class="w-100"></div>
    <div class="col-12 justify-content-center text-center">Please login</div>
    {% if next %}
        {% if user.is_authenticated %}
            <div class="col-md-6">Your account doesn't have access to this page.
                To proceed, please login with an account that has access.</div>
        {% endif %}
    {% endif %}

    <div class="col-md-6 justify-content-center mt-3">
        <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="col-auto">
                <label class="sr-only" for="id_username">Username</label>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" name="username" id="id_username" placeholder="Username">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="id_password">Password</label>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                    </div>
                    <input type="password" class="form-control" name="password" id="id_password" placeholder="Password">
                </div>
            </div>

            {% if form.errors %}
                <p class=" label label-danger">
                    Your username and password didn't match.
                    Please try again.
                </p>
            {% endif %}

            <div class="col-auto d-flex flex-column">

                <input type="submit" value="Login"
                       class="btn btn-danger w-100" />
                <a class="btn btn-link align-middle pl-0" href="{% url 'password_reset' %}">Forgot password?</a>
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="text-center">
                    Don't have an account? <a href="{% url 'signup' %}">Sign up!</a>
                </div>
            </div>
        </form>
    </div>
</div>
{#<form method="post" action="{% url 'login' %}">#}
{#    {% csrf_token %}#}
{#<table>#}
{##}
{#<tr>#}
{#  <td>{{ form.username.label_tag }}</td>#}
{#  <td>{{ form.username }}</td>#}
{#</tr>#}
{##}
{#<tr>#}
{#  <td>{{ form.password.label_tag }}</td>#}
{#  <td>{{ form.password }}</td>#}
{#</tr>#}
{#</table>#}
{##}
{##}
{#</form>#}

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}