
<div class="row no-gutters align-items-center" id="{{ task.id }}" style="{% if task.status == 'C' %} color: #b1e4b1 {% endif %}">

    <div class="col-1 text-left">
        {% if task.status == "C" %}
            <i data-taskid="{{ task.id }}" style="cursor: pointer;" onclick="changeTaskStatus(this)" class="fa fa-check-square-o checked" aria-hidden="true"></i>
        {% else %}
            <i data-taskid="{{ task.id }}" style="cursor: pointer;" onclick="changeTaskStatus(this)" class="fa fa-square-o unchecked" aria-hidden="true"></i>
        {% endif %}
    </div>

    <div class="col my-1 align-items-center">
            <div class="ml-1">
                <span class="task-name" {% if task.status == 'C' %} style="text-decoration: line-through" {% endif %}>{{ task.name }}</span>
            </div>
    </div>

    <div class="col-1 text-right align-middle">
        <a href="{% url 'todoapp:edit_task' project_id=task.project_id task_id=task.id %}">
           <i class="fas fa-pencil-alt"></i>
        </a>
    </div>

</div>

<div class="row no-gutters font-weight-light align-middle" style="font-size: 0.7em; {% if task.status == 'C' %} color: #b1e4b1 {% endif %}">
    <div class="col offset-1">

        {% if task.not_until %}
            <i class="fa fa-calendar-times-o mr-1" aria-hidden="true"></i><span class="mr-2">not until {{ task.not_until|date:"M j" }}</span>
        {% endif %}
        {% if task.deadline %}
            <i class="fa fa-calendar mx-1" aria-hidden="true"></i><span class="mr-2">do by {{ task.deadline|date:"M j" }}</span>
        {% endif %}
        <i class="fa fa-clock-o mx-1" aria-hidden="true"></i><span class="mr-2">{{ task.duration_string }}</span>
    </div>
</div>