
    <tr id="{{ task.id }}">
        <td class="checkbox">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" {% if task.status == "C" %} checked {% endif %} data-taskid="{{ task.id }}" onchange="changeTaskStatus(this)">
        </td>
        <td class="number">
            {{ task.order_within_project }}.
        </td>
        <td class="title">
            <span class="title-name" {% if task.status == 'C' %} style="text-decoration: line-through" {% endif %}>{{ task.name }}</span>
            <div class="detail-date">
                {% if task.not_until %}
                    <span class="notuntil">not until {{ task.not_until|date:"M j" }}</span>
                {% endif %}
                {% if task.deadline %}
                    <span class="doby">do by {{ task.deadline|date:"M j" }}</span>
                {% endif %}

            </div>
        </td>
        <td class="duration">
            {{ task.duration_string }}
        </td>
        <td class="edit-button">
            <a href="{% url 'todoapp:edit_task' project_id=task.project_id task_id=task.id %}">
               <i class="fas fa-pencil-alt"></i>
            </a>
        </td>

    </tr>

{#<div class="drawer-horizontal">#}
{#    <div class="number">#}
{#        {{ task.order_within_project }}.#}
{#    </div>#}
{#    <div class="title">#}
{#        {{ task.name }}#}
{#    </div>#}
{#    <div class="duration">#}
{#        {{ task.duration_minutes }}#}
{#    </div>#}
{#    <div class="deadline">#}
{#        {{ task.deadline }}#}
{#    </div>#}
{#    <div class="checkbox">#}
{#        {{ task.status }}#}
{#    </div>#}
{##}
{#</div>#}