{% extends "base_generic.html" %}
{% block content %}
    <ol class="card-header breadcrumb row">
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url 'todoapp:my-goals' %}">Goals</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ goal.name }}</li>
        <li class="ml-auto">
            <a href="{% url 'todoapp:add_new_project' goal_id=goal.id  %}">
               Add project <i class="fas fa-plus-circle"></i>
            </a>
        </li>
    </ol>
    <div class="card-body container">
        <div>
            {% for project_data in projects_data %}
                {% if not project_data.project.status == 'D' %}
                    {% include 'todoapp/subtemplates/project.html' with project_data=project_data %}
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}