{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="page">
        <form
                {% if task_id %}
                    action="{% url 'todoapp:edit_task' project_id=project_id task_id=task_id %}"
                {% else %}
                    action="{% url 'todoapp:add_new_task' project_id=project_id %}"
                {% endif %}
                    method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% if task_id %}
                <input class="btn btn-info" type="submit" value="Edit task">
            {% else %}
                <input class="btn btn-info" type="submit" value="Add task">
            {% endif %}
        </form>
        <input class="btn btn-info" type="button" value="Delete task" onclick="deleteTask({{ task_id }})">
    </div>
{% endblock %}